.expenseItem-mainBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: aquamarine;
    margin: auto;
    border-radius: 10px;
    padding: 10px 0px;
    
}

.Date{
    width: 25%;
    text-align: center;

}

.expenseItem{
    width: 25%;
text-align: center;
}
.price{
    width: 25%;
text-align: center;
}
.removeButton{
    width: 25%;
    text-align: center;

}
.removeButton button{
    padding: 5px 10px;
}